<div class="container">
    <section class="hero">
        <h2 class="hero-title">
            Informações Acadêmicas
        </h2>
        <!-- <ul class="lista">
            <li> -->
                <div class="educacao-card">                
                    <button class="educacao-titulo" (click)="exibirCard1 = !exibirCard1">
                        Ciência da Computação - Bacharelado
                    </button>
                    <ul class="faculdade-info" *ngIf="exibirCard1">
                        <li>
                            <b>Faculdade Fictícia - FF</b><br>
                            Agosto 2024 - Em andamento<br>
                            Previsão de formatura: Junho 2028
                        </li>
                    </ul>
                </div>
                <div class="educacao-card">
                    <button class="educacao-titulo" (click)="exibirCard2 = !exibirCard2">
                        Letras - Inglês - Licenciatura
                    </button>
                    <ul class="faculdade-info" *ngIf="exibirCard2">
                        <li>
                            <b>Universidade do Miskatonic - UdM</b><br>
                            Agosto 2017 - Dezembro 2023
                        </li>
                    </ul>
                </div>
                <div class="educacao-card">
                    <button class="educacao-titulo" (click)="exibirCard3 = !exibirCard3">
                        Contrabaixo Elétrico - Técnico
                    </button>
                    <ul class="faculdade-info" *ngIf="exibirCard3">
                        <li>
                            <b>Ensino Tecnico Ficticio - ETF</b><br>
                            Março 2007 - Novembro 2011
                        </li>
                    </ul>
                </div>
            <!-- </li>
        </ul> -->
    </section>
</div>
