<div class="container">
        
    <section class="hero">
        <h2 class=""hero-title>
            Habilidades
        </h2>
        <br>
        
        <ul class="lista">
            <li>Atendimento de tickets em plataforma ITSM</li>
            <li>Metodologia Scrum de desenvolvimento de software</li>
            <li>Lógica de programação</li>
            <li>Linguagens de programação C, Python, JavaScript, Java, TypeScript</li>
            <li>Desenvolvimento FrontEnd com Angular.js</li>
            <li>Desenvolvimento BackEnd com Express e SpringBoot</li>
            <li>Gerenciamento de banco de dados usando MySQL e PostgreSQL</li>
            <li>Criação de APIs RESTful</li>
            <li>Redação e revisão de textos</li>
            <li>Elaboração de manuais e documentação técnica de software</li>
            <li></li>
        </ul>
        
    </section>
</div>





 


