<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">Criado por Mock User usando Angular v14.</p>
        </section>
        <section>
            <button class="play-btn" (click)="playSong()"><i class="fa-solid fa-play"></i></button>
            
            <button class="pause-btn" (click)="pauseSong()"><i class="fa-solid fa-pause"></i></button>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
                <ul>
                    <li><i class="fa-solid fa-envelope"></i> mock@email.com</li>
                    <li><i class="fa-solid fa-phone"></i> (11)9000-00000</li>
                    <li><i class="fa-brands fa-whatsapp"></i> Zap(11)9000-00000</li>
                </ul>
        </address>
        
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>