<div class="home-container">
        
    <section class="hero">
        <h1 class=""hero-title>
            Resumo das qualificações
        </h1>
        <br>
        <p>
            Sou um profissional graduando em Ciência da Computação, 30 anos de idade e 
            residente em Cidade-UF. Tenho experiência em redação, revisão de texto, 
            tradução, inglês fluente, trabalho em equipe usando métodos ágeis de 
            desenvolvimento, lógica e linguagens de programação, metodologia ITIL 
            de gestão de serviços de tecnologia. Estou aberto para oportunidades na área
            de desenvolvimento de software.
        </p>
        <!-- <p>resumão aqui e pá bota um texto bem grande blz</p> -->
    </section>
</div>

